<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>TN Fee Committee</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="<?php echo asset_url(); ?>/images/logo_sed.png"     type="image/x-icon" />
    <link rel="logo_sed" href="<?php echo asset_url(); ?>/images/logo_sed.png"    >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- material bootstrap -->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="seo_version">

	<!-- LOADER -->
	<div id="preloader">
		<div id="cupcake" class="box">
			<span class="letter">L</span>
			<div class="cupcakeCircle box">
				<div class="cupcakeInner box">
					<div class="cupcakeCore box"></div>
				</div>
			</div>
			<span class="letter box">A</span>
			<span class="letter box">D</span>
			<span class="letter box">I</span>
			<span class="letter box">N</span>
			<span class="letter box">G</span>
		</div>
	</div>
	<!-- END LOADER -->

	<!--Modal: Login with Avatar Form-->
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src="uploads/avtar.png" alt="avatar" class="img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">

                <div class="md-form ml-0 mr-0">
                    <input type="text" id="username" class="form-control form-control-sm validate ml-0">
                    <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter Username</label>
                </div>

                <div class="md-form ml-0 mr-0">
                    <input type="password" type="text" id="password" class="form-control form-control-sm validate ml-0">
                    <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-success mt-1">Login <i class="fa fa-sign-in ml-1"></i></button>
                </div>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login with Avatar Form-->
	
    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="<?php echo asset_url(); ?>/images/logos/logo_sed.png
                     alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                        <li>
                            <a class="btn-light btn-radius btn-brd top-btn" data-toggle="modal" data-target="#modalLoginAvatar" href="">
                                <i class="fa fa-angle-double-right"></i>
                                Log in                                
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right menu-top">
                        <li><a class="active" href="index.html">Home</a></li>
                        <li><a href="ann1.html">School Details</a></li>
                        <li><a href="ann2.html">Expenditures</a></li>
                        <li><a href="ann3.html">Fee Proposed</li>
                        <!-- <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <style type="text/css">
        .rounded-circle{
            border-radius: 50%
        }
    </style>

    
    <div id="home" class="parallax first-section" data-stellar-background-ratio="0.4" style="background-image:url('uploads/parallax_12_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="big-tagline">
                        <h2 style="color:#006400;">Tamil Nadu<br>Fee Determination Committee</h2>
                        <p class="lead">DPI Campus,<br>College Road,<br>Nungambakkam, Chennai - 06.</p>
                        <!-- <a href="#support" class="btn btn-light btn-radius btn-brd ban-btn">Free SEO Analysis</a> -->
                    </div>
                </div>

                <div class="app_iphone_02 wow slideInUp hidden-xs hidden-sm" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="uploads/SED.png" alt="" class="img-responsive">
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>

    <div id="about" class="section wb nopadtop">
        <div class="container">
            
			
			<hr class="hr1">
			
			<div class="section-title text-center">
                <small>Private Schools Fee Determination Committee</small>
                <h3>Online Portal for Fee Fixation</h3>
                <p class="lead">Kindly collect the datas and start filling the annexures through online</p>
            </div><!-- end title -->
			
			<div class="seo-services row clearfix">
                <div class="col-md-3 col-sm-6 col-xs-12">
                	<a href="ann1.html">
						<div class="who">
	                        <img src="<?php echo asset_url(); ?>/images/seo-icons/development.svg"                             alt="icon" class="wow fadeInUp">
							<h4>School Particulars</h4>
							<p class="lead">Annexure - 1<br>Kindly Go through the Form and fill in the particulars wherever necessary and Modifications made once cannot be changed for the current year proposal</p>
						</div>
					</a>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                	<a href="ann2.html">
						<div class="who">
	                        <img src="<?php echo asset_url(); ?>/images/seo-icons/growth.svg"                             alt="icon" class="wow fadeInUp">
							<h4>Expenditure Statement</h4>
							<p class="lead">Annexure - 2<br>Kindly fill in the Expenditure details for the past academic year. The Details submitted once cannot be changed for the current year proposal</p>
						</div>
					</a>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                	<a href="ann3.html">
						<div class="who">
							<img src="<?php echo asset_url(); ?>/images/seo-icons/research.svg"                             alt="icon" class="wow fadeInUp">                        
							<h4>Fee Proposed</h4>
							<p class="lead">Annexure - 3<br>Please fill the Range of Fees proposed for the Classes sanctioned for your School</p>
						</div>
					</a>
                </div><!-- end col -->  

                <div class="col-md-3 col-sm-6 col-xs-12">
                	<a href="#">
						<div class="who">
							<img src="<?php echo asset_url(); ?>/images/seo-icons/stopwatch.svg"                             alt="icon" class="wow fadeInUp">
	                        <h4>Judgement Details</h4>
							<p class="lead">The Details of the Judgement of the Fee Determined for Your School can be downloaded here ..</p>
						</div>
					</a>
                </div><!-- end col -->  
            </div><!-- end how-its-work -->
        </div><!-- end container -->
    </div><!-- end section -->

        
    <div id="case" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <small>Already Published Fee Details</small>
                <h3>District-wise</h3>
                <p class="lead">Click on Your District to view the Details of the Fee Fixed for the District Schools
                </p>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <!-- <a href="uploads/version1.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                            <a href="#" class="hoverbutton global-radius">KPM</a>
                            <img src="uploads/dt/1.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>Kanchipuram</h3>
                        <small>District</small>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <!-- <a href="uploads/version_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                            <img src="uploads/dt/2.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>Thiruvallur</h3>
                        <small>District</small>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <!-- <a href="uploads/version_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                            <img src="uploads/dt/3.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>Vellore</h3>
                        <small>District</small>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <!-- <a href="uploads/version_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                            <img src="uploads/dt/4.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>Thiruvannamalai</h3>
                        <small>District</small>
                    </div><!-- end service -->
                </div><!-- end col -->

                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <!-- <a href="uploads/version_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                            <img src="uploads/dt/5.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>Villupuram</h3>
                        <small>District</small>
                    </div><!-- end service -->
                </div><!-- end col -->
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="parallax section lb">
        <div class="container">
            <div class="row text-center stat-wrap">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-briefcase"></i></span>
                    <p class="stat_count">1200</p>
                    <h3>TOTAL SCHOOLS</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-happy"></i></span>
                    <p class="stat_count">3210</p>
                    <h3>SCHOOLS APPEARED</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-idea"></i></span>
                    <p class="stat_count">3781</p>
                    <h3>JUDGEMENT PENDING</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-customer-service"></i></span>
                    <p class="stat_count">4300</p>
                    <h3>FEE PUBLISHED</h3>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <section class="section nopad cac text-center">
        <a href="#"><h3>&copy; Copyright owned by Tamilnadu Private Schools Fee Determination Committee<br>Developed by TN EMIS Team</h3></a>
    </section>

    
    
	

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

</body>
</html>